@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #cdad6c;
  --color-secondary: #043029;
  --color-tertiary: #04382f;
  --color-highlight: #8f6535;

  --breakpoint-xs: 30rem;
  --breakpoint-3xl: 120rem
}
